# Lesson 3 Exercise 1 Solution: Three Queries Three Tables
<img src="images/cassandralogo.png" width="250" height="250">

### Walk through the basics of creating a table in Apache Cassandra, inserting rows of data, and doing a simple CQL query to validate the information. You will practice Denormalization, and the concept of 1 table per query, which is an encouraged practice with Apache Cassandra.

#### We will use a python wrapper/ python driver called cassandra to run the Apache Cassandra queries. This library should be preinstalled but in the future to install this library you can run this command in a notebook to install locally: 
! pip install cassandra-driver
#### More documentation can be found here:  https://datastax.github.io/python-driver/

#### Import Apache Cassandra python package

In [2]:
# !pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.23.0-cp37-cp37m-manylinux1_x86_64.whl (4.3 MB)
     |████████████████████████████████| 4.3 MB 1.6 MB/s eta 0:00:01
Collecting geomet<0.2,>=0.1
  Downloading geomet-0.1.2.tar.gz (11 kB)
Requirement already satisfied: six>=1.9 in /home/kern/anaconda3/lib/python3.7/site-packages (from cassandra-driver) (1.14.0)
Requirement already satisfied: click in /home/kern/anaconda3/lib/python3.7/site-packages (from geomet<0.2,>=0.1->cassandra-driver) (7.0)
Building wheels for collected packages: geomet
  Building wheel for geomet (setup.py) ... done
  Created wheel for geomet: filename=geomet-0.1.2-py3-none-any.whl size=14896 sha256=fc977e70fec85c41666218582eeff8beeb0d7e9aa95d0162644fd8f54e3b8a6d
  Stored in directory: /home/kern/.cache/pip/wheels/e9/eb/92/8464b4ce12209717c1728cbdc7bf3862f4a080e484701406c6
Successfully built geomet
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.23.0 geomet-0.1.2

In [3]:
import cassandra

### Create a connection to the database

In [8]:
from cassandra.cluster import Cluster
cluster = Cluster(['0.0.0.0']) 
session = cluster.connect()

### Create a keyspace to work in

In [9]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

#### Connect to our Keyspace. Compare this to how we had to create a new session in PostgreSQL.

In [10]:
session.set_keyspace('udacity')

### Let's imagine we would like to start creating a Music Library of albums. 

### We want to ask 3 questions of our data
#### 1. Give every album in the music library that was released in a given year
`select * from music_library WHERE YEAR=1970`
#### 2. Give every album in the music library that was created by a given artist  
`select * from artist_library WHERE artist_name="The Beatles"`
#### 3. Give all the information from the music library about a given album
`select * from album_library WHERE album_name="Close To You"`

### Because we want to do three different queries, we will need different tables that partition the data differently.  
* The music library table will be partitioned by year that will become the partition key, and artist name will be the clustering column to make each Primary Key unique. 
* The artist library table will be partitioned by artist name that will be the partition key, and year will be the clustering column to make each Primary Key unique. More on Primary keys in the next lesson and demo. 
* The album library table will be partitioned by album name that will be the partition key, and artist will be the clustering colum to make each Primary Key unique. 

`Table Name: music_library
column 1: Year
column 2: Artist Name
column 3: Album Name
PRIMARY KEY(year, artist name)`
<img src="images/table1.png" width="350" height="350">

` Table Name: artist_library 
column 1: Artist Name
column 2: Year
column 3: Album Name
PRIMARY KEY (artist name, year)`
<img src="images/table2.png" width="350" height="350">

`Table Name: album_library 
column 1: Album Name
column 2: Artist Name
column 3: Year
PRIMARY KEY (album_name, artist_name)`
<img src="images/table0.png" width="550" height="550">

### Create the tables

In [11]:
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"
session.execute(query)

query = "CREATE TABLE IF NOT EXISTS artist_library "
query = query + "(artist_name text, year int, album_name text, PRIMARY KEY (artist_name,  year))"
session.execute(query)
    
query = "CREATE TABLE IF NOT EXISTS album_library "
query = query + "(artist_name text, album_name text, year int, PRIMARY KEY (album_name, artist_name))"
session.execute(query)

### Insert data into the tables

In [12]:
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + " VALUES (%s, %s, %s)"

query1 = "INSERT INTO artist_library (artist_name, year, album_name)"
query1 = query1 + " VALUES (%s, %s, %s)"

query2 = "INSERT INTO album_library (album_name, artist_name, year)"
query2 = query2 + " VALUES (%s, %s, %s)"

session.execute(query, (1970, "The Beatles", "Let it Be"))
session.execute(query, (1965, "The Beatles", "Rubber Soul"))
session.execute(query, (1965, "The Who", "My Generation"))
session.execute(query, (1966, "The Monkees", "The Monkees"))
session.execute(query, (1970, "The Carpenters", "Close To You"))

session.execute(query1, ("The Beatles", 1970, "Let it Be"))
session.execute(query1, ("The Beatles", 1965, "Rubber Soul"))
session.execute(query1, ("The Who", 1965, "My Generation"))
session.execute(query1, ("The Monkees", 1966, "The Monkees"))
session.execute(query1, ("The Carpenters", 1970, "Close To You"))

session.execute(query2, ("Let it Be", "The Beatles", 1970))
session.execute(query2, ("Rubber Soul", "The Beatles", 1965))
session.execute(query2, ("My Generation", "The Who", 1965))
session.execute(query2, ("The Monkees", "The Monkees", 1966))
session.execute(query2, ("Close To You", "The Carpenters", 1970))

### This might have felt unnatural to insert duplicate data into two tables. If I just normalized these tables, I wouldn't have to have extra copies! While this is true, remember there are no `JOINS` in Apache Cassandra. For the benefit of high availibity and scalabity denormalization must be how this is done.

### Validate our Data Model

`select * from music_library WHERE YEAR=1970`

In [14]:
query = "select * from music_library WHERE YEAR=1970"
rows = session.execute(query)
for row in rows:
    print (row.year, row.artist_name, row.album_name,)

1970 The Beatles Let it Be
1970 The Carpenters Close To You

### Validate our Data Model

`select * from artist_library WHERE ARTIST_NAME = "The Beatles"`

In [15]:
query = "select * from artist_library WHERE ARTIST_NAME='The Beatles'"
rows = session.execute(query)
for row in rows:
    print (row.artist_name, row.year, row.album_name)

The Beatles 1965 Rubber Soul
The Beatles 1970 Let it Be

### Validate our Data Model

`select * from album_library WHERE album_name="Close To You"`

In [16]:
query = "select * from album_library WHERE ALBUM_NAME='Close To You'"
rows = session.execute(query)    
for row in rows:
    print (row.artist_name, row.year, row.album_name)

The Carpenters 1970 Close To You

### For the sake of the demo, drop the table.

In [17]:
query = "drop table music_library"
rows = session.execute(query)

query = "drop table album_library"
rows = session.execute(query)

query = "drop table artist_library"
rows = session.execute(query)

### Close the session and cluster connection

In [18]:
session.shutdown()
cluster.shutdown()